/* style.css */
/* Custom styles */

body {
    background-color: #7aecb7;
     font-family: 'Kanit', sans-serif; /* เพิ่มบรรทัดนี้ */
}

.card {
    background-color: #C8E6C9;;
    border-radius: 1rem;
    max-width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.badge {
    color: #4394f1; /* สีตัวอักษรของ badge เป็นสีขาว */
    background-color: #0965b6; /* สีพื้นหลังของ badge เป็นสีเทา */
}

.btn-primary {
    background-color: #38A3A5;
    border-color: #38A3A5;
}