/* Custom styles */
body {
    background-color: #2581dd; /* สีพื้นหลังของหน้าเว็บ (light gray) */
}

.card {
    border-radius: 1rem; /* ทำให้มุมของกล่องโค้งมน */
    max-width: 400px; /* กำหนดความกว้างสูงสุดของกล่อง */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* เพิ่มเงาให้กล่องดูมีมิติ */
    background-color: #19dff9; /* สีพื้นหลังของกล่องเป็นสีขาว */
}

.badge {
    color: #ffffff; /* สีตัวอักษรของ badge เป็นสีขาว */
    background-color: #6c757d; /* สีพื้นหลังของ badge เป็นสีเทา */
}

.btn-primary {
    background-color: #0d6efd; /* สีพื้นหลังของปุ่ม (สีน้ำเงินของ Bootstrap) */
    border-color: #0d6efd; /* สีขอบของปุ่ม */
}