/* style.css */
/* Custom styles */

body {
    background-color: #7aecb7;
    font-family: 'Kanit', sans-serif;
}

.card {
    background-color: #C8E6C9;
    border-radius: 1rem;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(21, 235, 117, 0.1);
}

.card p.fw-bold.text-center {
    color: #3cb371; 
}


.badge {
    color: #ffffff; 
    background-color: #4fca91; 
}

.btn-primary {
    background-color: #2e2d2dcb;
    border-color: #05f8bb;
}


.card b {
    color: #ffffff;
}


.card h2.fw-bold {
    color: #3cb371;
}   